* {
  font-family: Trebuchet, sans-serif;
}

body {
  background-color: #fff9f0;
}

h1 {
  text-align: left;
  color: #fff;
}

h2 {
  text-align: left; 
  color: #fff;
  font-style:italic;
}

h3 {
  color: #fff;
  letter-spacing: 1px;
  font-weight: normal;
  text-align: center;
}

p {
  color: #fff;
  padding:  0px  20px  0px;
}

#heading { 
  background-color: #cf8a40;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-top: 5px;
}
/*background image??*/

/* navbar */
.navbar {
  background-color: black;
  overflow: auto;
}

.navbar a {
  float: right;
  font-size: 14px;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
}

.navbar a.active {
  background-color: #505168;
}

.navbar a:hover {
  color: black;
  background-color: #c0d6df;
}

/* style for icon for navbar https://www.w3schools.com/howto/howto_js_topnav_responsive.asp*/
.navbar .icon .hide {
  display:none;
}

/*.hide {
  display:none;
}*/

/*class to make button appear*/
.top-show{
  display:block;
}

@media screen and (max-width: 640px) {
	
	/*making navbar responsive https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp*/
	.navbar a:not(:first-child) {
	  display: none;
	}
	.navbar a.icon {
	  float: right;
	  display: block;
	}
	
	.navbar.responsive {
	  position: relative;
	}
	.navbar.responsive a.icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.navbar.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
	.navbar.responsive {
	  float: none;
	}
	.navbar.responsive {
	  position: relative;
	}
	.navbar.responsive {
	    display: block;
	    width: 100%;
	    text-align: left;
	}
}

/*Back to top button https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */

#topbutton {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 99;
  border: none;
  outline: solid;
  background-color: #667292;
  color: #f1e3dd;
  cursor: pointer;
  padding: 8px;
  border-radius: 2px;
  font-size: 16px;
}

#topbutton:hover {
  background-color: #bccad6; 
}
