* {
  font-family: Trebuchet, sans-serif;
}

body {
  background-color: #fff9f0;
  margin: 0px;
  width: 100%;
}

/* navbar */
.navbar {
  background-color: black;
  overflow: auto;
  padding-top: 8px;
  padding-bottom: 8px;
}

.navbar a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  font-stretch: ultra-expanded;
  letter-spacing: 1px;
}

.navbar a.active {
  background-color: #505168;
  color: white;
}

.navbar a:hover {
  background-color: #c0d6df;
  color: black;
}

/* style for icon for navbar https://www.w3schools.com/howto/howto_js_topnav_responsive.asp*/
.navbar .icon {
  display: none;
}

.hide {
  display: none;
}

/*class to make button appear*/
.top-show{
  display: block;
}

@media screen and (max-width: 640px) {
	
	/*making navbar responsive https://www.w3schools.com/howto/howto_js_responsive_navbar.asp*/
	/*.navbar a:not(:first-child)*/
	.navbar a {
	  display: none;
	}
	.navbar a.icon {
	  float: right;
	  display: block;
	}
	
	.navbar.responsive {
	  position: relative;
	}
	.navbar.responsive a.icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.navbar.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
	.navbar.responsive {
	  float: none;
	}
	.navbar.responsive {
	  position: relative;
	}
	.navbar.responsive {
	  display: block;
	  width: 100%;
	  text-align: left;
	}
}


#heading { 
  background-color: #f6eadd;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 5px;
}
/*background image??*/

h1 {
  text-align: left;
  padding-left: 30px;
}

h2 {
  text-align: left; 
  font-style:italic;
  padding-left: 30px;
}

h3 {
  color: black;
  font-weight: normal;
  width: 90%;
}

h3.more {
  margin-bottom: 0px;
  margin-right: 30%;
  color: #473030;
}

h4 {
  padding: 8px 14px;
  border: 1px solid black;
  border-radius: 4px;
  margin-left: 10px;
  margin-bottom: 0px;
  display: inline-block;
}

p {
  color: black;
  padding:  0px  20px  0px;
}

hr {
  margin: 20px 5px 18px;
}

.years {
  font-weight: bold;
  margin-bottom: 8px;
  padding-top: 12px;
  padding-bottom: 8px;
}

.more {
  display: block;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 13px;
  padding: 10px;
  float: left;
}

.more1 {
  display: block;
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 0px;
  margin-right: 30%;
  padding: 10px;
  padding-top: 0px;
  float: left;
  color: #473030;
}

.moreinfo {
  font-size: 16px;
  border: 2px solid #f2e0cd;
  border-radius: 7px;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.moreinfo:hover {
  background-color: #efd7bd;
  transition: ease-in;
  transition-duration: 200ms;
}

.image {
  padding-top: 20px;
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1186px;
  width: 70%
}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_tab_img_gallery*/
/* grid columns that float next to each other */
.column {
  float: left;
  width: auto;
  padding: 10px;
}

/* images inside grid */
.column img {
  opacity: 1; 
  cursor: pointer; 
  max-width: 250px;
  max-height: 150px;
}

.column img:hover {
  opacity: 0.8;
}

/* clear floats after columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Large expanding image container */
.container {
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: none;
  max-width: 1000px;
  width: 80%;
}

.container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  max-width: 100%;
}

/* Large expanding image text */
#imgtext {
  position: absolute;
  padding: 15px;
  bottom: 15px;
  color: white;
  background-color: black;
  font-size: 0.9em;
  opacity: 0.6;
}

#imgtext:hover {
  opacity: 1;
}

/* x to close large */
.closebtn {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 35px;
  background-color: black;
  cursor: pointer;
  border-radius: 30px;
  opacity: 0.5;
  padding-left: 9px;
  padding-right: 9px;
}

.closebtn:hover {
  opacity: 1;
}

/*Back to top button https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */
#topbutton {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 99;
  border: 1px solid #f6eadd;
  background-color: #505168;
  color: #f6eadd;
  cursor: pointer;
  padding: 10px;
  border-radius: 12px;
  font-size: 16px;
  opacity: 0.7;
}

#topbutton:hover {
  background-color: #27233a; 
  opacity: 1;
}
